<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>node.js basic learn in one day</title>
</head>
<style>

</style>
<body>
<% include partial/navi.ejs %>
<h1>welcome the profile of <%= person %></h1>
<p><strong>age: </strong><%= data.age %></p>
<p><strong>sex: </strong><%= data.sex %></p>
<p><strong>job: </strong><%= data.job %></p>
<h2>hobbies</h2>
<ul>
<% data.hobbies.forEach(function(item){%>
    <li><%= item %></li>
<% }); %>

</ul>
</body>
</html>