<!DOCTYPE html>
<html lang="en">
<head>
    <link href = "/asset/styles.css" rel = "stylesheet" type = "text/css"/>
    <meta charset="UTF-8">
    <title>node.js basic learn in one day</title>
</head>
<style>

</style>
<body>
<% include partial/navi.ejs %>
<h1>welcome the profile of <%= person %></h1>
<p><strong>age: </strong><%= data.age %></p>
<p><strong>sex: </strong><%= data.sex %></p>
<p><strong>job: </strong><%= data.job %></p>
<h2>hobbies</h2>
<ul>
<% data.hobbies.forEach(function(item){%>
    <li><%= item %></li>
<% }); %>

</ul>
</body>
</html>